version: 2
jobs:
  build:
    docker:
      - image: circleci/node:7.10
    working_directory: ~/repo

    steps:
      - checkout
      - restore_cache:
          keys:
          - v1-dependencies-{{ checksum "package.json" }}
          - v1-dependencies-
      - run: yarn install
      - save_cache:
          paths:
            - node_modules
          key: v1-dependencies-{{ checksum "package.json" }}
      - run: yarn test

  upload:
    docker:
      - image: gcr.io/portfolio-203912/circleci-gcloud
        auth:
          username: _json_key
          password: $GCLOUD_SERVICE_KEY
    steps:
      - checkout
      - run:
          name: Upload to Cloud
          command: cd deploy && python3 upload.py
  deploy:
    docker:
    - image: gcr.io/portfolio-203912/circleci-gcloud
      auth:
        username: _json_key
        password: $GCLOUD_SERVICE_KEY
    steps:
      - checkout 
      - run:
          name: Deploy to Google
          command: cd deploy && python3 deploy.py

workflows:
  version: 2
  build--upload-deploy:
    jobs:
      - build
      - upload:
          requires:
            - build
          filters:
            branches:
              only: master
      - deploy:
          requires:
            - upload
          filters:
            branches:
              only: master