version: 2
jobs:
  build:
    docker:
      - image: circleci/node:7.10
    working_directory: ~/repo

    steps:
      - checkout
      - restore_cache:
          keys:
          - v1-dependencies-{{ checksum "package.json" }}
          - v1-dependencies-
      - run: yarn install
      - save_cache:
          paths:
            - node_modules
          key: v1-dependencies-{{ checksum "package.json" }}
      - run: yarn test

  upload:
    docker:
      - image: docker:17.05.0-ce-git
      - image: circleci/python:3.6

      - image: google/cloud-sdk:latest
    steps:
      - checkout
      - run: 
          name: Login to GCloud
          command: cd deploy && python3 gcloud-init.py
      - run:
          name: Upload to Cloud
          command: cd deploy && python3 upload.py
  deploy:
    docker:
    - image: google/cloud-sdk:latest
    steps:
      - checkout 
      - run: 
          name: Login to GCloud
          command: cd deploy && python3 gcloud-init.py
      - run:
          name: Deploy to Google
          command: cd deploy && python3 deploy.py

workflows:
  version: 2
  build--upload-deploy:
    jobs:
      - build
      - upload:
          requires:
            - build
          filters:
            branches:
              only: master
      - deploy:
          requires:
            - upload
          filters:
            branches:
              only: master